.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.navbar{
    padding-left: 100px;
    text-align: left;
    background-color: black;
    line-height: 30px;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
}
.navbar a:hover{
    background-color: grey;
}
.navbar span {
    color: blue;
    margin-right: 20px;
    padding: 5px;
}